target/
!.mvn/wrapper/maven-wrapper.jar
/uploads/
*.class
*.log
*.ctxt
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE Files
.idea/
.vscode/
*.iml
*.iws
*.ipr
.settings/
.classpath
.project
.mvn/
bin/

# OS Files
.DS_Store
Thumbs.db
